# This particular release.yml is mostly taken from:
# https://github.com/bjeanes/indexer-sync/blob/master/.github/workflows/ci.yml
# and Jormungandr:
# https://github.com/input-output-hk/jormungandr/blob/master/.github/workflows/release.yml

name: Stable Release
on:
  push:
    tags:
      - 'v[0-9]+.*' # Release tags matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

jobs:
  create_release:
    name: Create Github Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.github_create_release.outputs.upload_url }}
      version: ${{ steps.get_version.outputs.VERSION }}
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - name: Create Release
        id: github_create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get_version.outputs.VERSION }}
          release_name: Rustyboi ${{ steps.get_version.outputs.VERSION }}
          draft: false
          prerelease: true

  build_release_assets:
    name: Build release assets
    needs: [create_release]
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          # Linux
          - { os: ubuntu-18.04, toolchain: stable, target: x86_64-unknown-linux-gnu, cross: false }
          - { os: ubuntu-18.04, toolchain: stable, target: aarch64-unknown-linux-gnu, cross: true }
          # Raspberry Pi
          - { os: ubuntu-18.04, toolchain: stable, target: arm-unknown-linux-gnueabi, cross: true }
          - { os: ubuntu-18.04, toolchain: stable, target: armv7-unknown-linux-gnueabihf, cross: true }

          # Macos
          - { os: macos-10.15, toolchain: stable, target: x86_64-apple-darwin, cross: false }

          # Windows
          - { os: windows-2019, toolchain: stable-x86_64-pc-windows-gnu, target: x86_64-pc-windows-gnu, cross: false }
          - { os: windows-2019, toolchain: stable-x86_64-pc-windows-msvc, target: x86_64-pc-windows-msvc, cross: false }

    steps:
      - uses: actions/checkout@master

      - uses: actions-rs/toolchain@v1
        id: rust-toolchain
        with:
          toolchain: ${{ matrix.config.toolchain }}
          target: ${{ matrix.config.target }}
          profile: minimal
          override: true
          default: true

      - name: Cache Cargo Artifacts
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-build-${{ matrix.config.target }}-artifacts-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-build-${{ matrix.config.target }}-artifacts-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-build-${{ matrix.config.target }}-
            ${{ runner.os }}-cargo-build-
            ${{ runner.os }}-cargo-artifacts-
            ${{ runner.os }}-cargo

      - name: Build release asset
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ matrix.config.cross }}
          command: build
          args: --release --target ${{ matrix.config.target }}

      - name: Compress binaries Linux/Mac
        if: "!startsWith(matrix.config.os, 'windows')"
        uses: svenstaro/upx-action@v2
        with:
          file: ./target/${{ matrix.config.target }}/release/rustyboi_sdl
          args: --best
          strip: true

      - name: Compress binaries Windows
        if: "startsWith(matrix.config.os, 'windows')"
        uses: svenstaro/upx-action@v2
        with:
          file: ./target/${{ matrix.config.target }}/release/rustyboi_sdl.exe
          args: --best
          strip: true

      - name: Package asset as gzip
        if: "!startsWith(matrix.config.os, 'windows')"
        run: |
          archive=Rustyboi-${{ needs.create_release.outputs.version }}-${{ matrix.config.target }}.tar.gz
          env GZIP=-9 tar zvcf $archive -C ./target/${{ matrix.config.target }}/release rustyboi_sdl
          cat <<EOF >> $GITHUB_ENV
          RELEASE_ARCHIVE=$archive
          RELEASE_CONTENT_TYPE=application/gzip
          EOF

      - name: Package asset as zip
        if: startsWith(matrix.config.os, 'windows')
        run: |
          $archive = "Rustyboi-${{ needs.create_release.outputs.version }}-${{ matrix.config.target }}.zip"
          Compress-Archive -LiteralPath .\target\${{ matrix.config.target }}\release\rustyboi_sdl.exe -DestinationPath $archive
          @"
          RELEASE_ARCHIVE=$archive
          RELEASE_CONTENT_TYPE=application/zip
          "@ | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Upload binaries to our release
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: ./${{ env.RELEASE_ARCHIVE }}
          asset_name: ${{ env.RELEASE_ARCHIVE }}
          asset_content_type: ${{ env.RELEASE_CONTENT_TYPE }}